<title>Zenless Zone Zero Cypher</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.0/angular.min.js"></script>
<style>
	* {
		font-size: 64px;
	}

	#input {
		width: 100%;
	}

	#types input {
		height: 64px;
		width: 64px;
	}

	.type1 {
		color: blue;
	}

	.type2 {
		color: red;
	}

	.type3 {
		color: green;
	}

	#output svg {
		margin: 5px;
	}

	td {
		text-align: center;
	}

	svg {
		border: 1px solid #DDDDDD;
	}

	svg text {
		font-family: impact;
	}
</style>
<script>
	var app = angular.module('app', []);
	app.controller('mainCtrl', ['$scope', '$http', function ($scope, $http) {

		$scope.safeApply = function (fn) {
			var phase = this.$root.$$phase;
			if (phase == '$apply' || phase == '$digest') {
				if (fn && (typeof (fn) === 'function')) { fn() }
			} else { this.$apply(fn) }
		};

		$scope.input = "zenless zone zero";

		$scope.type1 = true;
		$scope.type2 = true;
		$scope.type3 = true;

		$scope.convert = () => {
			$scope.letters = $scope.input.toLowerCase().split("");
		}
		$scope.convert();

		$scope.letterSize = (letter) => {
			return ["m", "w", "v"].includes(letter) ? "128px" : "64px";
		}
		$scope.letterViewbox = (letter) => {
			return ["m", "w", "v"].includes(letter) ? "0 0 200 100" : "0 0 100 100";
		}

		window.$scope = $scope;
	}]);
</script>

<body ng-app="app">
	<div ng-controller="mainCtrl" class="mainCtrl">
		<input ng-model="input" id="input" ng-change="convert()">
		<div id="types">
			<label class="type1" for="type1"><input type="checkbox" ng-model="type1" id="type1">Type 1</label>
			<label class="type2" for="type2"><input type="checkbox" ng-model="type2" id="type2">Type 2</label>
			<label class="type3" for="type3"><input type="checkbox" ng-model="type3" id="type3">Type 3</label>
		</div>
		<br>
		<table id="output">
			<tr>
				<td ng-repeat="letter in letters track by $index">
					<svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
						<text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">{{letter.toUpperCase()}}</text>
					</svg>
				</td>
			</tr>
			<tr ng-if="type1">
				<td ng-repeat="letter in letters track by $index">
					<svg height="64px" width="{{letterSize(letter)}}" viewBox="{{letterViewbox(letter)}}" xmlns="http://www.w3.org/2000/svg">
						<use href="#{{letter}}1">
					</svg>
				</td>
			</tr>
			<tr ng-if="type2">
				<td ng-repeat="letter in letters track by $index">
					<svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg">
						<use href="#{{letter}}2">
					</svg>
				</td>
			</tr>
			<tr ng-if="type3">
				<td ng-repeat="letter in letters track by $index">
					<svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg">
						<use href="#{{letter}}3">
					</svg>
				</td>
			</tr>
		</table>
		<br>
		<table>
			<tr>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">A</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">B</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">C</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">D</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">E</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">F</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">G</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">H</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">I</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">J</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">K</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">L</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">M</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">N</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">O</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">P</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">Q</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">R</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">S</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">T</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">U</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">V</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">W</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">X</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">Y</text></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><text x="32" y="32" font-size="64" text-anchor="middle" alignment-baseline="central">Z</text></svg></td>
			</tr>
			<tr ng-if="type1">
				<td><svg height="64px" width="64px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="a1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 10 90 L 10 10 L 90 10 L 90 90 L 10 10"/></g></defs><use href="#a1"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="b1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 50 50 L 10 50 L 10 10 L 90 10 L 90 90 L 10 90 L 10 50"/></g></defs><use href="#b1"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="c1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 10 10 L 90 10 L 90 90 L 10 90"/></g></defs><use href="#c1"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="d1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 10 10 L 90 50 L 10 90 Z"/></g></defs><use href="#d1"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="e1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 10 10 L 90 10 L 90 90 L 10 90 M 10 50 L 50 50"/></g></defs><use href="#e1"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="f1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 10 10 L 90 10 M 10 50 L 90 50 L 90 90"/></g></defs><use href="#f1"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="g1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 10 90 L 10 10 L 90 10 M 90 90 Z"/></g></defs><use href="#g1"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="h1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 10 90 L 10 50 L 90 50 L 90 10 M 90 50 L 90 90 M 10 10 Z"/></g></defs><use href="#h1"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="i1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 10 10 L 90 10 L 10 90 L 90 90 Z"/></g></defs><use href="#i1"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="j1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 10 10 L 90 90 L 10 90 Z"/></g></defs><use href="#j1"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="k1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 10 10 L 10 90 M 90 10 L 10 50 L 90 90 Z"/></g></defs><use href="#k1"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="l1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 90 10 L 10 10 L 10 90"/></g></defs><use href="#l1"/></svg></td>
				<td><svg height="64px" width="128px" viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="m1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 10 90 L 10 10 L 90 90 L 90 10 L 170 90 L 170 10"/></g></defs><use href="#m1"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="n1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 10 10 L 10 90 L 90 10 L 90 90"/></g></defs><use href="#n1"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="o1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 10 90 L 10 10 L 90 10 L 90 90 L 10 90 L 90 10"/></g></defs><use href="#o1"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="p1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 10 10 L 10 90 M 10 50 L 90 50 L 90 10"/></g></defs><use href="#p1"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="q1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 50 50 L 90 90 L 10 90 L 10 10 L 90 10 L 90 90"/></g></defs><use href="#q1"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="r1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 10 10 L 90 10 L 10 90 Z M 90 90 Z"/></g></defs><use href="#r1"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="s1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 10 10 L 90 10 M 10 50 L 90 50 L 90 90 L 10 90"/></g></defs><use href="#s1"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="t1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 10 90 L 90 90 M 50 90 L 50 10"/></g></defs><use href="#t1"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="u1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 10 10 L 10 90 L 90 90 L 90 10"/></g></defs><use href="#u1"/></svg></td>
				<td><svg height="64px" width="128px" viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="v1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 25 90 L 25 10 L 105 90 M 65 10 L 155 90 L 155 10"/></g></defs><use href="#v1"/></svg></td>
				<td><svg height="64px" width="128px" viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="w1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 10 10 L 10 90 L 90 10 L 90 90 L 170 10 L 170 90"/></g></defs><use href="#w1"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="x1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 10 10 L 90 90 M 10 90 L 90 10"/></g></defs><use href="#x1"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="y1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 50 50 L 10 10 L 90 10 L 50 50 L 50 90"/></g></defs><use href="#y1"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><defs><g id="z1" stroke="blue" stroke-width="20" fill="none" stroke-linecap="square"><path d="M 90 10 L 10 10 L 90 90 L 10 90"/></g></defs><use href="#z1"/></svg></td>
			</tr>
			<tr ng-if="type2">
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="a2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 60 L 105 60 L 105 105 L 15 105 M 55 20 L 65 30"/></g></defs><use href="#a2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="b2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 60 L 60 15 L 105 60 M 15 105 L 105 105 M 60 65 L 70 75"/></g></defs><use href="#b2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="c2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 40 L 15 15 L 95 15 L 105 25 L 105 40 M 15 105 L 105 105 M 80 105 L 60 80"/></g></defs><use href="#c2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="d2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 15 L 105 15 M 15 105 L 60 30 L 105 105"/></g></defs><use href="#d2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="e2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 105 L 105 60 L 105 15 L 15 15 L 15 60 L 105 105"/></g></defs><use href="#e2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="f2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 40 L 105 40 M 60 15 L 15 105 M 105 80 L 90 105"/></g></defs><use href="#f2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="g2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 15 L 105 15 M 60 15 L 60 105 M 15 105 L 105 105"/></g></defs><use href="#g2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="h2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 105 L 15 15 L 105 15 L 105 105 L 80 90"/></g></defs><use href="#h2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="i2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 15 L 105 15 M 60 15 L 60 105 L 105 105"/></g></defs><use href="#i2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="j2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 15 L 105 15 M 15 60 L 15 105 L 105 105 L 105 60"/></g></defs><use href="#j2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="k2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 30 L 15 15 L 105 15 L 60 105 M 15 105 L 105 105"/></g></defs><use href="#k2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="l2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 15 L 105 15 M 15 60 L 105 60 L 15 105"/></g></defs><use href="#l2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="m2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 15 L 105 15 L 105 105 L 15 105 Z M 50 50 L 70 70"/></g></defs><use href="#m2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="n2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 15 L 105 15 M 60 50 L 105 80 L 105 105 L 15 105 L 15 80 Z"/></g></defs><use href="#n2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="o2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 15 L 60 15 L 105 60 M 15 105 L 105 105"/></g></defs><use href="#o2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="p2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 15 L 105 15 L 105 105 L 60 70 L 15 105"/></g></defs><use href="#p2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="q2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 15 L 105 15 M 60 15 L 60 60 M 15 105 L 15 60 L 105 60 L 105 105"/></g></defs><use href="#q2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="r2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 15 L 105 15 L 15 105 M 60 60 L 105 105"/></g></defs><use href="#r2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="s2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 105 15 L 15 15 L 15 105 L 105 105 L 80 80"/></g></defs><use href="#s2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="t2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 60 L 15 40 L 60 15 L 105 40 L 105 60 M 15 105 L 105 105"/></g></defs><use href="#t2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="u2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 105 15 L 60 60 L 15 15 L 15 105 L 105 105"/></g></defs><use href="#u2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="v2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 60 L 15 15 L 105 15 L 105 60 M 15 105 L 105 105"/></g></defs><use href="#v2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="w2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 40 L 105 40 M 15 80 L 105 80 M 80 15 L 40 105"/></g></defs><use href="#w2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="x2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 15 L 15 105 M 105 15 L 105 105 M 50 50 L 70 70"/></g></defs><use href="#x2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="y2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 15 L 105 105 L 15 105 M 60 60 L 105 15"/></g></defs><use href="#y2"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="z2" stroke="red" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 15 L 105 15 M 60 15 L 15 105 L 105 105"/></g></defs><use href="#z2"/></svg></td>
			</tr>
			<tr ng-if="type3">
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="a3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M "/></g></defs><use href="#a3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="b3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M "/></g></defs><use href="#b3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="c3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 105 15 L 15 15 L 15 105 L 105 105 M 60 105 L 105 60"/></g></defs><use href="#c3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="d3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 105 15 L 105 60 L 80 60 L 15 15 L 15 80 Q 15 105 40 105 L 105 105"/></g></defs><use href="#d3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="e3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 60 L 15 15 L 105 15 L 105 60 M 15 105 L 105 105"/></g></defs><use href="#e3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="f3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M "/></g></defs><use href="#f3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="g3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M "/></g></defs><use href="#g3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="h3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M "/></g></defs><use href="#h3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="i3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 15 L 15 60 M 15 105 L 105 105 M 60 105 L 60 15 L 105 15"/></g></defs><use href="#i3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="j3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M "/></g></defs><use href="#j3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="k3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M "/></g></defs><use href="#k3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="l3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 15 L 15 80 Q 15 105 40 105 L 80 105 M 80 15 L 80 60"/></g></defs><use href="#l3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="m3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 40 L 105 40 M 15 80 L 105 80 M 60 40 L 60 15 M 60 80 L 60 105"/></g></defs><use href="#m3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="n3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 60 L 105 60 L 60 15 M 15 105 L 105 105"/></g></defs><use href="#n3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="o3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 15 L 105 15 M 15 105 L 60 30 L 105 105"/></g></defs><use href="#o3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="p3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M "/></g></defs><use href="#p3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="q3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M "/></g></defs><use href="#q3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="r3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 15 L 15 60 L 105 60 L 105 15 M 15 105 L 105 105"/></g></defs><use href="#r3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="s3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 40 L 105 40 M 60 15 L 15 105 M 105 80 L 90 105"/></g></defs><use href="#s3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="t3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 15 L 105 15 M 60 15 L 60 105 L 105 105"/></g></defs><use href="#t3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="u3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 15 L 105 15 M 15 60 L 105 60 M 60 60 L 60 105"/></g></defs><use href="#u3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="v3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M "/></g></defs><use href="#v3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="w3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 40 L 15 15 L 95 15 L 105 25 L 105 40 M 15 105 L 105 105 M 80 105 L 60 80"/></g></defs><use href="#w3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="x3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M "/></g></defs><use href="#x3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="y3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M "/></g></defs><use href="#y3"/></svg></td>
				<td><svg height="64px" width="64px" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><defs><g id="z3" stroke="green" stroke-width="30" fill="none" stroke-linecap="square"><path d="M 15 15 L 15 80 Q 15 105 40 105 L 80 105 M 80 15 L 80 60"/></g></defs><use href="#z3"/></svg></td>
			</tr>
		</table>
	</div>
</body>