<title>C25K</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.0/angular.min.js"></script>
<style>
	* {
		font-family: sans-serif;
		font-weight: bold;
	}

	body,
	input {
		text-align: center;
		margin: 0;
	}

	table,
	input,
	button,
	#currentStats,
	#totalStats {
		font-size: 100px;
	}

	table {
		width: 100%;
	}

	table button {
		width: 150px;
	}

	input {
		width: 200px;
	}

	button#start {
		width: 100%;
	}

	#outer {
		display: inline-block;
		border: 1px solid black;
		border-radius: 50%;
		height: 800px;
		width: 800px;
		margin-top: 50px;
		margin-bottom: 50px;
		position: relative;
	}

	#inner {
		border: 1px solid black;
		border-radius: 50%;
		height: 600px;
		width: 600px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	#marker {
		position: absolute;
		left: 50%;
		top: 50%;
		height: 850px;
		width: 0px;
		box-sizing: border-box;
		border-top: 50px solid black;
		border-left: 25px solid transparent;
		border-right: 25px solid transparent;
		border-bottom: 0px solid transparent;
	}

	#currentStats {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 600px;
		transform: translate(-50%, -50%);
		text-align: center;
		vertical-align: middle;
	}

	.Warmup {
		background: #ff8080;
	}

	.Run {
		background: #ffff80;
	}

	.Walk {
		background: #80ff80;
	}

	.Cooldown {
		background: #8080ff;
	}

	#totalStats span {
		border: 1px solid black;
		border-radius: 25px;
		padding: 25px;
	}
</style>
<script>
	var app = angular.module('app', []);
	app.controller('mainCtrl', ['$scope', '$http', function ($scope, $http) {

		$scope.safeApply = function (fn) {
			var phase = this.$root.$$phase;
			if (phase == '$apply' || phase == '$digest') {
				if (fn && (typeof (fn) === 'function')) { fn() }
			} else { this.$apply(fn) }
		};

		$scope.colors = {
			Warmup: "#ff8080",
			Run: "#ffff80",
			Walk: "#80ff80",
			Cooldown: "#8080ff",
		}

		$scope.Warmup = 300;
		$scope.Run = 60;
		$scope.Walk = 90;
		$scope.Count = 8;
		$scope.Cooldown = 300;

		$scope.progress = 0;
		$scope.stageProgress = 0;

		$scope.calc = () => {
			var cycle = $scope.Run + $scope.Walk;
			$scope.total = ($scope.Warmup) + (cycle * $scope.Count) + ($scope.Cooldown) - $scope.Walk;

			$scope.stages = [{ type: "Warmup", length: $scope.Warmup }];
			for (var x = 0; x <= $scope.Count - 1; x++) {
				$scope.stages.push({ type: "Run", length: $scope.Run });
				if (x != $scope.Count - 1) {
					$scope.stages.push({ type: "Walk", length: $scope.Walk });
				}
			}
			$scope.stages.push({ type: "Cooldown", length: $scope.Cooldown });
			$scope.currentStage = $scope.stages[0];

			$scope.conicGradient = "";
			var progress = 0;
			$scope.stages.forEach((stage, s) => {
				stage.start = progress;
				stage.end = progress + stage.length;
				var startAngle = (progress / $scope.total) * 360;
				var endAngle = startAngle + ((stage.length / $scope.total) * 360);
				progress += stage.length;
				$scope.conicGradient += `${$scope.colors[stage.type]} ${startAngle}deg, ${$scope.colors[stage.type]} ${endAngle}deg, `;
			});
			$scope.conicGradient = $scope.conicGradient.slice(0, -2);
			$scope.stages.push({ type: "Done", start: $scope.total, end: Infinity });

		}
		$scope.calc();

		$scope.getStage = (time) => {
			return $scope.currentStage = $scope.stages.find(stage => time >= stage.start && time < stage.end);
		}

		$scope.tick = () => {
			console.log("TICK")
			var now = new Date();
			$scope.progress = Math.floor((now - $scope.startTime) / 1000);
			$scope.getStage($scope.progress);
			$scope.stageProgress = $scope.progress - $scope.currentStage.start;

			if ($scope.progress >= $scope.total) {
				console.log("Done");
				clearInterval($scope.interval);
			}
			$scope.safeApply();
		}

		$scope.start = () => {
			$scope.startTime = new Date();
			$scope.interval = setInterval($scope.tick, 1000);
		}

		$scope.increment = (key, amount) => {
			$scope[key] += amount;
			$scope.calc();
		}

		window.$scope = $scope;
	}]).filter("time", () => {
		return (input, $scope) => {
			if (input == undefined) { return }
			var m = Math.floor(input / 60);
			var s = input - (m * 60);
			var ss = ("0" + s).substr(-2);
			return `${m}:${ss}`;
		}
	}).filter("percent", () => {
		return (input, $scope) => {
			if (input == undefined) { return }
			return `${Math.floor(input * 100)}%`;
		}
	})
</script>

<body ng-app="app">
	<div ng-controller="mainCtrl" class="mainCtrl">
		<table cellpadding="0" cellspacing="0">
			<tr class="Warmup">
				<td>Warmup</td>
				<td><button ng-click="increment('Warmup',-30)">◀</button></td>
				<td><input ng-model="Warmup" type="number" min="0" ng-change="calc()"></td>
				<td><button ng-click="increment('Warmup',30)">▶</button></td>
			</tr>
			<tr class="Run">
				<td>Run</td>
				<td><button ng-click="increment('Run',-30)">◀</button></td>
				<td><input ng-model="Run" type="number" min="0" ng-change="calc()"></td>
				<td><button ng-click="increment('Run',30)">▶</button></td>
			</tr>
			<tr class="Walk">
				<td>Walk</td>
				<td><button ng-click="increment('Walk',-30)">◀</button></td>
				<td><input ng-model="Walk" type="number" min="0" ng-change="calc()"></td>
				<td><button ng-click="increment('Walk',30)">▶</button></td>
			</tr>
			<tr>
				<td>Count</td>
				<td><button ng-click="increment('Count',-1)">◀</button></td>
				<td><input ng-model="Count" type="number" min="0" ng-change="calc()"></td>
				<td><button ng-click="increment('Count',1)">▶</button></td>
			</tr>
			<tr class="Cooldown">
				<td>Cooldown</td>
				<td><button ng-click="increment('Cooldown',-30)">◀</button></td>
				<td><input ng-model="Cooldown" type="number" min="0" ng-change="calc()"></td>
				<td><button ng-click="increment('Cooldown',30)">▶</button></td>
			</tr>
		</table>
		<button ng-click="start()" id="start">Start</button>
		<div id="outer" style="background: conic-gradient({{conicGradient}});">
			<div id="inner" class="{{currentStage.type}}">
				<div id="marker" style="transform: translate(-50%, -50%) rotate({{360 * progress / total}}deg);"></div>
				<div id="currentStats">
					{{currentStage.type}}
					<br>
					<span ng-if="currentStage.type != 'Done'">
						{{stageProgress | time}} / {{currentStage.length | time}}
						<br>
						{{stageProgress / currentStage.length | percent}}
					</span>
				</div>
			</div>
		</div>
		<div id="totalStats">
			<span>{{progress | time}} / {{total | time}}</span>
			<span>{{progress / total | percent}}</span>
		</div>
	</div>
</body>