<title>Riichi Mahjong Cheatsheet</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.0/angular.min.js"></script>
<style>
	body {
		background: darkgreen;
		color: white;
		font-size: 24px;
		margin: 1px;
	}

	.hand {
		white-space: nowrap;
	}

	.tile {
		position: relative;
		display: inline-block;
		height: 40px;
		width: 30px;
		text-align: left;
	}

	.tile img {
		position: absolute;
		height: 40px;
		width: 30px;
	}

	table {
		text-align: center;
		vertical-align: middle;
		-webkit-border-horizontal-spacing: 0px;
		-webkit-border-vertical-spacing: 0px;
	}

	table,
	th {
		border: 1px solid white;
	}

	p {
		white-space: pre-line;
	}

	abbr {
		text-decoration-style: wavy;
	}

	.yakuTable {
		font-size: 16px;
	}

	.yaku {
		position: relative;
		height: 54px;
		margin: 10px;
		border: 1px solid white;
		padding: 2px;
		border-radius: 5px;
		min-width: 180px;
	}

	.stars {
		display: inline-flex;
	}

	.zer0 {
		border-color: red;
	}

	.zer0 .open {
		color: red;
	}

	.maX {
		background: #808000;
	}

	.yakuTable td {
		border-width: 1px;
		border-color: white;
	}

	.yakuTable td:nth-child(2n+1) {
		border-left-style: solid;
		border-top-style: solid;
		border-bottom-style: solid;
	}

	.yakuTable td:nth-child(2n) {
		border-right-style: solid;
		border-top-style: solid;
		border-bottom-style: solid;
	}

	button{
		width: 200px
	}
</style>
<script>
	var app = angular.module('app', []);
	app.controller('mainCtrl', ['$scope', '$http', function ($scope, $http) {

		$scope.safeApply = function (fn) {
			var phase = this.$root.$$phase;
			if (phase == '$apply' || phase == '$digest') {
				if (fn && (typeof (fn) === 'function')) { fn() }
			} else { this.$apply(fn) }
		};

		$scope.lib = {
			tiles: {
				"Back": { id: "Back", type: "none", suit: "man", number: "0", name: "" },
				"Blank": { id: "Blank", type: "none", suit: "man", number: "0", name: "" },

				"Man1": { id: "Man1", type: "simple", suit: "man", number: "1" },
				"Man2": { id: "Man2", type: "simple", suit: "man", number: "2" },
				"Man3": { id: "Man3", type: "simple", suit: "man", number: "3" },
				"Man4": { id: "Man4", type: "simple", suit: "man", number: "4" },
				"Man5-Dora": { id: "Man5-Dora", type: "simple", suit: "man", number: "5" },
				"Man5": { id: "Man5", type: "simple", suit: "man", number: "5" },
				"Man6": { id: "Man6", type: "simple", suit: "man", number: "6" },
				"Man7": { id: "Man7", type: "simple", suit: "man", number: "7" },
				"Man8": { id: "Man8", type: "simple", suit: "man", number: "8" },
				"Man9": { id: "Man9", type: "simple", suit: "man", number: "9" },

				"Pin1": { id: "Pin1", type: "simple", suit: "pin", number: "1" },
				"Pin2": { id: "Pin2", type: "simple", suit: "pin", number: "2" },
				"Pin3": { id: "Pin3", type: "simple", suit: "pin", number: "3" },
				"Pin4": { id: "Pin4", type: "simple", suit: "pin", number: "4" },
				"Pin5-Dora": { id: "Pin5-Dora", type: "simple", suit: "pin", number: "5" },
				"Pin5": { id: "Pin5", type: "simple", suit: "pin", number: "5" },
				"Pin6": { id: "Pin6", type: "simple", suit: "pin", number: "6" },
				"Pin7": { id: "Pin7", type: "simple", suit: "pin", number: "7" },
				"Pin8": { id: "Pin8", type: "simple", suit: "pin", number: "8" },
				"Pin9": { id: "Pin9", type: "simple", suit: "pin", number: "9" },

				"Sou1": { id: "Sou1", type: "simple", suit: "sou", number: "1" },
				"Sou2": { id: "Sou2", type: "simple", suit: "sou", number: "2" },
				"Sou3": { id: "Sou3", type: "simple", suit: "sou", number: "3" },
				"Sou4": { id: "Sou4", type: "simple", suit: "sou", number: "4" },
				"Sou5-Dora": { id: "Sou5-Dora", type: "simple", suit: "sou", number: "5" },
				"Sou5": { id: "Sou5", type: "simple", suit: "sou", number: "5" },
				"Sou6": { id: "Sou6", type: "simple", suit: "sou", number: "6" },
				"Sou7": { id: "Sou7", type: "simple", suit: "sou", number: "7" },
				"Sou8": { id: "Sou8", type: "simple", suit: "sou", number: "8" },
				"Sou9": { id: "Sou9", type: "simple", suit: "sou", number: "9" },

				"Ton": { id: "Ton", type: "honor", suit: "man", number: "0", name: "East" },
				"Nan": { id: "Nan", type: "honor", suit: "man", number: "0", name: "South" },
				"Shaa": { id: "Shaa", type: "honor", suit: "man", number: "0", name: "West" },
				"Pei": { id: "Pei", type: "honor", suit: "man", number: "0", name: "North" },
				"Haku": { id: "Haku", type: "honor", suit: "man", number: "0", name: "White Dragon" },
				"Hatsu": { id: "Hatsu", type: "honor", suit: "man", number: "0", name: "Green Dragon" },
				"Chun": { id: "Chun", type: "honor", suit: "man", number: "0", name: "Red Dragon" },
			},
			yaku: {}
		}

		$scope.yaku = [
			{
				name: "Ready Hand", japanese: "Riichi", open: "0", closed: "1", type: "special",
				description: "Any closed hand that reaches _Tenpai_ can declare 'Riichi'\nBet 1000 points and cannot take any further action other than drawing and discarding tiles until someone wins.",
				summary: "Closed Tenpai",
				example: []
			}, {
				name: "Self draw", japanese: "Menzen tsumo", open: "0", closed: "1", type: "luck",
				description: "Any closed hand that wins by _Tsumo_",
				summary: "Closed Tsumo",
				example: []
			}, {
				name: "One Shot", japanese: "Ippatsu", open: "0", closed: "1", type: "luck",
				description: "Declare 'Riichi' then win by your next tile draw",
				summary: "Riichi then quick win",
				example: []
			}, {
				name: "Minimum fu", japanese: "Pinfu", open: "0", closed: "1", type: "sequence",
				description: "Closed hand that has only sequences, no Honor tiles and has a _Ryanmen_ wait at _Tenpai_",
				summary: "Only sequences, no honor",
				example: []
			}, {
				name: "Identical Sequences", japanese: "Iipeikou", open: "0", closed: "1", type: "sequence",
				description: "A hand with two identical sequences",
				summary: "Twin sequences",
				example: []
			}, {
				name: "Win by last draw", japanese: "Haitei raoyue", open: "1", closed: "1", type: "luck",
				description: "Win by drawing the last tile from the live wall",
				summary: "Last tile Tsumo",
				example: []
			}, {
				name: "Win by last discard", japanese: "Houtei raoyui", open: "1", closed: "1", type: "luck",
				description: "Win with the very last discarded tile",
				summary: "Last tile Ron",
				example: []
			}, {
				name: "Win by dead wall draw", japanese: "Rinshan kaihou", open: "1", closed: "1", type: "luck",
				description: "Win with a tile from the dead wall, i.e. win by the tile drawn after a kan",
				summary: "Last tile dead wall",
				example: []
			}, {
				name: "Robbing a kan", japanese: "Chankan", open: "1", closed: "1", type: "luck",
				description: "Win by stealing a tile used for an opponent's added kan",
				summary: "Kan Ron",
				example: []
			}, {
				name: "All simples", japanese: "Tanyao", open: "1", closed: "1", type: "terminal/honor",
				description: "All simple tiles 2-8, no 1s, 9s or honors",
				summary: "Only 2-8 tiles",
				example: []
			}, {
				name: "Value tiles", japanese: "Yakuhai", open: "1", closed: "1", type: "honor",
				description: "At least one group of Dragons, Seat Wind, or Round Wind. Each group is worth 1 han",
				summary: "3x dragon, seat or round",
				example: []
			}, {
				name: "Double ready", japanese: "Double riichi", open: "0", closed: "2", type: "luck",
				description: "Declare Riichi before your first discard and before any player makes a tile call",
				summary: "Early Riichi",
				example: []
			}, {
				name: "Terminal or honor in each group", japanese: "Chantaiyao", open: "1", closed: "2", type: "terminal/honor",
				description: "All groups including the pair contain at least 1 _Terminal_ or Honor",
				summary: "All groups have 1/9/honor",
				example: []
			}, {
				name: "Three-colored straight", japanese: "Sanshoku doujun", open: "1", closed: "2", type: "sequence",
				description: "Three of the same sequence across all three suits",
				summary: "3x xyz sequence",
				example: []
			}, {
				name: "Straight", japanese: "Ittsu", open: "1", closed: "2", type: "sequence",
				description: "Have sequences of 123, 456 and 789 from the same suit",
				summary: "1-9 Straight",
				example: []
			}, {
				name: "All triplets", japanese: "Toitoi", open: "2", closed: "2", type: "triplet",
				description: "All groups are triplets (and/or quads)",
				summary: "4x triplets",
				example: []
			}, {
				name: "Three closed triplets", japanese: "Sanankou", open: "2", closed: "2", type: "triplet",
				description: "Three closed triplets, remaining group can be open",
				summary: "3x closed triplets",
				example: []
			}, {
				name: "Three-colored triplets", japanese: "Sanshoku doukou", open: "2", closed: "2", type: "triplet",
				description: "Three triplets (and/or quads) of the same number",
				summary: "3x xyz triplets",
				example: []
			}, {
				name: "Three kans", japanese: "Sankantsu", open: "2", closed: "2", type: "triplet",
				description: "Three quads of any type",
				summary: "3x kans",
				example: []
			}, {
				name: "Seven pairs", japanese: "Chiitoitsu", open: "0", closed: "2", type: "special",
				description: "Seven unique pairs instead of 4 groups and a pair",
				summary: "Seven pairs",
				example: []
			}, {
				name: "Terminals and honors", japanese: "Honroutou", open: "2", closed: "2", type: "terminal/honor",
				description: "Every tile is a _Terminal_ or Honor\nEssentially 4 Han as it will also contain Toitoi or Chiitoitsu",
				summary: "Only 1/9/honors tiles",
				example: []
			}, {
				name: "Small three dragons", japanese: "Shousangen", open: "2", closed: "2", type: "honor",
				description: "Two triplets (and/or quads) of dragons and a pair of the third dragon\nEssentially 4 Han as it will also contain two Yakuhai",
				summary: "2x dragon triplets + pair",
				example: []
			}, {
				name: "Half flush", japanese: "Honitsu", open: "2", closed: "3", type: "suit",
				description: "Every tile is the same suit, mixed with Honor tiles",
				summary: "Single suit + honors",
				example: []
			}, {
				name: "Terminal in each meld", japanese: "Junchan taiyao", open: "2", closed: "3", type: "terminal",
				description: "All groups and pair contain at least one _Terminal_",
				summary: "All groups have 1 or 9",
				example: []
			}, {
				name: "Two sets of identical sequences", japanese: "Ryanpeikou", open: "0", closed: "3", type: "sequence",
				description: "Two sets of _Iipeikou_",
				summary: "Double twin sequences",
				example: []
			}, {
				name: "Flush", japanese: "Chinitsu", open: "5", closed: "6", type: "suit",
				description: "Every tile is the same suit",
				summary: "Single suit",
				example: []
			}, {
				name: "Counted yakuman", japanese: "Kazoe yakuman", open: "X", closed: "X", type: "yakuman",
				description: "Any hand that scores 13+ han via regular yaku and dora",
				summary: "Any 13+ han (dora)",
				example: []
			}, {
				name: "Thirteen orphans", japanese: "Kokushi musou", open: "0", closed: "X", type: "terminal/honor",
				description: "One of every _Terminal_ and honor tile plus one copy",
				summary: "Every 1/9/honor + one copy",
				example: []
			}, {
				name: "Four closed triplets", japanese: "Suuankou", open: "0", closed: "X", type: "triplet",
				description: "4 closed triplets (and/or quads)",
				summary: "4x closed triplets",
				example: []
			}, {
				name: "Big three dragons", japanese: "Daisangen", open: "X", closed: "X", type: "honor",
				description: "3 triplets (and/or quads) of all the dragons",
				summary: "3x dragon triplets",
				example: []
			}, {
				name: "Small winds", japanese: "Sousuushii", open: "X", closed: "X", type: "honor",
				description: "3 triplets (and/or quads) of winds, plus a pair of the fourth kind",
				summary: "3x winds triplets + pair",
				example: []
			}, {
				name: "Big winds", japanese: "Daisuushii", open: "X", closed: "X", type: "honor",
				description: "4 triplets (and/or quads) of winds",
				summary: "4x winds triplets",
				example: []
			}, {
				name: "All honors", japanese: "Tsuuiisou", open: "X", closed: "X", type: "honor",
				description: "Every tile is an honor tile",
				summary: "Only honors",
				example: []
			}, {
				name: "All terminals", japanese: "Chinroutou", open: "X", closed: "X", type: "terminal",
				description: "Every tile is a _Terminal_",
				summary: "Only 1/9 tiles",
				example: []
			}, {
				name: "All green", japanese: "Ryuuiisou", open: "X", closed: "X", type: "yakuman",
				description: "Every tile is a 'green' tile, which includes 2, 3, 4, 6 and 8 Sou and Hatsu",
				summary: "Only green",
				example: []
			}, {
				name: "Nine gates", japanese: "Chuuren poutou", open: "0", closed: "X", type: "yakuman",
				description: "Hand consisting of 1112345678999 of the same suit, plus any one tile of the same suit",
				summary: "1112345678999+x",
				example: []
			}, {
				name: "Four kans", japanese: "Suukantsu", open: "X", closed: "X", type: "triplet",
				description: "Any hand with four kans",
				summary: "4x kans",
				example: []
			}, {
				name: "Heavenly hand", japanese: "Tenhou", open: "0", closed: "X", type: "luck",
				description: "Dealer has winning hand by their first draw",
				summary: "Instant dealer win",
				example: []
			}, {
				name: "Earthly hand", japanese: "Chiihou", open: "0", closed: "X", type: "luck",
				description: "Non-dealer has a winning hand by their first draw with no other player making calls before then",
				summary: "Instant non-dealer win",
				example: []
			}, {
				name: "Terminal honor discards", japanese: "Nagashi mangan", open: "0", closed: "X", type: "special",
				description: "Round goes to _Ryuukyoku_ with all discards being terminals and honors and none were called by other players",
				summary: "Full honor discards",
				example: []
			}
		]
		$scope.yaku.forEach(yaku => {
			$scope.lib.yaku[yaku.japanese] = yaku;
		})

		$scope.score = {
			han1: {
				fu30: { parent: { tsumo: 500, ron: 1500 }, child: { tsumo: { parent: 500, child: 300 }, ron: 1000 } },
				fu40: { parent: { tsumo: 700, ron: 2000 }, child: { tsumo: { parent: 700, child: 400 }, ron: 1300 } },
				fu50: { parent: { tsumo: 800, ron: 2400 }, child: { tsumo: { parent: 800, child: 400 }, ron: 1600 } },
				fu60: { parent: { tsumo: 1000, ron: 2900 }, child: { tsumo: { parent: 1000, child: 500 }, ron: 2000 } },
				fu70: { parent: { tsumo: 1200, ron: 3400 }, child: { tsumo: { parent: 1200, child: 600 }, ron: 2300 } },
				fu80: { parent: { tsumo: 1300, ron: 3900 }, child: { tsumo: { parent: 1300, child: 700 }, ron: 2600 } },
				fu90: { parent: { tsumo: 1500, ron: 4400 }, child: { tsumo: { parent: 1500, child: 800 }, ron: 2900 } },
				fu100: { parent: { tsumo: 1600, ron: 4800 }, child: { tsumo: { parent: 1600, child: 800 }, ron: 3200 } },
				fu110: { parent: { tsumo: 1800, ron: 5300 }, child: { tsumo: { parent: 1800, child: 900 }, ron: 3600 } },
			},
			han2: {
				fu20: { parent: { tsumo: 700, ron: 0 }, child: { tsumo: { parent: 700, child: 0 }, ron: 0 } },
				fu25: { parent: { tsumo: 0, ron: 2400 }, child: { tsumo: { parent: 0, child: 1600 }, ron: 1600 } },
				fu30: { parent: { tsumo: 1000, ron: 2900 }, child: { tsumo: { parent: 1000, child: 2000 }, ron: 2000 } },
				fu40: { parent: { tsumo: 1300, ron: 3900 }, child: { tsumo: { parent: 1300, child: 2600 }, ron: 2600 } },
				fu50: { parent: { tsumo: 1600, ron: 4800 }, child: { tsumo: { parent: 1600, child: 3200 }, ron: 3200 } },
				fu60: { parent: { tsumo: 2000, ron: 5800 }, child: { tsumo: { parent: 2000, child: 3900 }, ron: 3900 } },
				fu70: { parent: { tsumo: 2300, ron: 6800 }, child: { tsumo: { parent: 2300, child: 4500 }, ron: 4500 } },
				fu80: { parent: { tsumo: 2600, ron: 7700 }, child: { tsumo: { parent: 2600, child: 5200 }, ron: 5200 } },
				fu90: { parent: { tsumo: 2900, ron: 8700 }, child: { tsumo: { parent: 2900, child: 5800 }, ron: 5800 } },
				fu100: { parent: { tsumo: 3200, ron: 9600 }, child: { tsumo: { parent: 3200, child: 6400 }, ron: 6400 } },
				fu110: { parent: { tsumo: 3600, ron: 10600 }, child: { tsumo: { parent: 3600, child: 7100 }, ron: 7100 } },
			},
			han3: {
				fu20: { parent: { tsumo: 1300, ron: 0 }, child: { tsumo: { parent: 1300, child: 700 }, ron: 0 } },
				fu25: { parent: { tsumo: 1600, ron: 4800 }, child: { tsumo: { parent: 1600, child: 800 }, ron: 3200 } },
				fu30: { parent: { tsumo: 2000, ron: 5800 }, child: { tsumo: { parent: 2000, child: 1000 }, ron: 3900 } },
				fu40: { parent: { tsumo: 2600, ron: 7700 }, child: { tsumo: { parent: 2600, child: 1300 }, ron: 5200 } },
				fu50: { parent: { tsumo: 3200, ron: 9600 }, child: { tsumo: { parent: 3200, child: 1600 }, ron: 6400 } },
				fu60: { parent: { tsumo: 3900, ron: 11600 }, child: { tsumo: { parent: 3900, child: 2000 }, ron: 7700 } },
				fu70: { parent: { tsumo: 4000, ron: 12000 }, child: { tsumo: { parent: 4000, child: 2000 }, ron: 8000 } },
			},
			han4: {
				fu20: { parent: { tsumo: 2600, ron: 0 }, child: { tsumo: { parent: 2600, child: 1300 }, ron: 0 } },
				fu25: { parent: { tsumo: 3200, ron: 9600 }, child: { tsumo: { parent: 3200, child: 1600 }, ron: 6400 } },
				fu30: { parent: { tsumo: 3900, ron: 11600 }, child: { tsumo: { parent: 3900, child: 2000 }, ron: 7700 } },
				fu40: { parent: { tsumo: 4000, ron: 12000 }, child: { tsumo: { parent: 4000, child: 2000 }, ron: 8000 } },
			},
			han5: { parent: { tsumo: 4000, ron: 12000 }, child: { tsumo: { parent: 4000, child: 2000 }, ron: 8000 } },
			han6: { parent: { tsumo: 6000, ron: 18000 }, child: { tsumo: { parent: 6000, child: 3000 }, ron: 12000 } },
			han8: { parent: { tsumo: 8000, ron: 24000 }, child: { tsumo: { parent: 8000, child: 4000 }, ron: 16000 } },
			han11: { parent: { tsumo: 12000, ron: 36000 }, child: { tsumo: { parent: 12000, child: 6000 }, ron: 24000 } },
			han13: { parent: { tsumo: 16000, ron: 48000 }, child: { tsumo: { parent: 16000, child: 8000 }, ron: 36000 } },
		}

		$scope.definitions = [
			{ key: "Tenpai", def: "Need only one more tile to complete" },
			{ key: "Tsumo", def: "Win by drawing a tile" },
			{ key: "Ryanmen", def: "'Open Wait' where you wait for 1 of 2 tiles to complete a sequence" },
			{ key: "Terminal", def: "1 or 9" },
			{ key: "Iipeikou", def: "Two identical sequences" },
			{ key: "Ryuukyoku", def: "'Exhaustive draw' all tiles drawn before a winner" },
		]

		$scope.setSort = key => {
			if ($scope.sortKey == key) {
				if ($scope.sortReverse == false) {
					$scope.sortReverse = true;
				} else {
					$scope.sortKey = null;
					$scope.sortReverse = false;
				}
			}
			else {
				$scope.sortKey = key;
				$scope.sortReverse = false;
			}
		}

		$scope.stars = (o, c) => {
			if (c == undefined) {
				if (o == "X") { return Array(13) }
				return Array(Number(o))
			}
			if (o == c) { return [] }
			if (c == "X") { return Array(13) }
			return Array(Number(c) - Number(o));
		}

		$scope.seat = "parent";
		$scope.setSeat = (seat) => { $scope.seat = seat }

		window.$scope = $scope;
	}])
		.directive('tile', function () {
			return {
				scope: { data: "=" },
				template: function (elem, attr) {
					return `
						<div class="tile" title="{{data.name}}">
							<img src="tiles/Front.svg">
							<img src="tiles/{{data.id}}.svg">
						</div>
					`
				}
			}
		}).directive('yaku', function () {
			return {
				scope: { data: "=", count: "&" },
				template: function (elem, attr) {
					return `
						<div class="yaku zer{{data.open}} ma{{data.closed}}">
							<span>{{data.summary}}</span>
							<br>
							<span>{{data.japanese}}</span>
							<br>
							<div class="stars">
								<span ng-repeat="x in count({o:data.open}) track by $index">☆</span>
								<span ng-repeat="x in count({o:data.open,c:data.closed}) track by $index">★</span>
							</div>
						</div>
					`
				}
			}
		}).directive('score', function () {
			return {
				scope: { data: "=" },
				template: function (elem, attr) {
					return `
						<div class="score">
							<span>{{data.ron}}</span>
							<br>
							<div ng-if="data.tsumo.parent != undefined">
								<span>{{data.tsumo.parent}}</span>
								/
								<span>{{data.tsumo.child}}</span>
							</div>
							<div ng-if="data.tsumo.parent == undefined">
								<span>{{data.tsumo}}</span>
							</div>
						</div>
					`
				}
			}
		}).filter("define", ($sce) => {
			return (input) => {
				var output = input
				$scope.definitions.forEach(d => {
					regex = RegExp(`_${d.key}_`)
					if (input.match(regex)) {
						output = output.replace(regex, `<abbr title="${d.def}">${d.key}</abbr>`)
					} else {
						output = output
					}
				})
				return $sce.trustAsHtml(output);
			}
		})
</script>

<body ng-app="app">
	<div ng-controller="mainCtrl" class="mainCtrl">
		<table class="yakuTable">
			<tr>
				<th colspan="2">Sequences</th>
				<th colspan="2">Triplets</th>
				<th colspan="2">Suit</th>
			</tr>
			<tr>
				<td>
					<yaku data="lib.yaku['Ittsu']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Sanshoku doujun']" count="stars(o,c)"></yaku>
				</td>
				<td>
					<yaku data="lib.yaku['Pinfu']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Iipeikou']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Ryanpeikou']" count="stars(o,c)"></yaku>
				</td>
				<td>
					<yaku data="lib.yaku['Sanankou']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Sanshoku doukou']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Toitoi']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Sankantsu']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Suukantsu']" count="stars(o,c)"></yaku>
				</td>
				<td>
					<yaku data="lib.yaku['Suuankou']" count="stars(o,c)"></yaku>
				</td>
				<td>
					<yaku data="lib.yaku['Honitsu']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Chinitsu']" count="stars(o,c)"></yaku>
				</td>
				<td></td>
			</tr>
			<tr>
				<th colspan="2">Terminal</th>
				<th colspan="2">Terminal/Honor</th>
				<th colspan="2">Honor</th>
			</tr>
			<tr>
				<td>
					<yaku data="lib.yaku['Junchan taiyao']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Chinroutou']" count="stars(o,c)"></yaku>
				</td>
				<td></td>
				<td>
					<yaku data="lib.yaku['Tanyao']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Chantaiyao']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Honroutou']" count="stars(o,c)"></yaku>
				</td>
				<td>
					<yaku data="lib.yaku['Kokushi musou']" count="stars(o,c)"></yaku>
				</td>
				<td>
					<yaku data="lib.yaku['Yakuhai']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Shousangen']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Daisangen']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Sousuushii']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Daisuushii']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Tsuuiisou']" count="stars(o,c)"></yaku>
				</td>
				<td></td>
			</tr>
			<tr>
				<th colspan="2">Luck</th>
				<th colspan="2">Yakuhai</th>
				<th colspan="2">Special</th>
			</tr>
			<tr>
				<td>
					<yaku data="lib.yaku['Haitei raoyue']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Houtei raoyui']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Rinshan kaihou']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Chankan']" count="stars(o,c)"></yaku>
				</td>
				<td>
					<yaku data="lib.yaku['Ippatsu']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Double riichi']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Tenhou']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Chiihou']" count="stars(o,c)"></yaku>
				</td>
				<td>
					<yaku data="lib.yaku['Ryuuiisou']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Kazoe yakuman']" count="stars(o,c)"></yaku>
				</td>
				<td>
					<yaku data="lib.yaku['Chuuren poutou']" count="stars(o,c)"></yaku>
				</td>
				<td></td>
				<td>
					<yaku data="lib.yaku['Riichi']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Menzen tsumo']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Chiitoitsu']" count="stars(o,c)"></yaku>
					<yaku data="lib.yaku['Nagashi mangan']" count="stars(o,c)"></yaku>
				</td>
			</tr>
		</table>
		<table cellpadding="5px">
			<tr>
				<th colspan="8">Simple Tiles</th>
				<th>5-Dora</th>
			</tr>
			<tr>
				<td>
					Dots / Circles
					<br>
					筒
					<br>
					Pin
				</td>
				<td colspan="7">
					<tile data="lib.tiles.Pin1"></tile>
					<tile data="lib.tiles.Pin2"></tile>
					<tile data="lib.tiles.Pin3"></tile>
					<tile data="lib.tiles.Pin4"></tile>
					<tile data="lib.tiles.Pin5"></tile>
					<tile data="lib.tiles.Pin6"></tile>
					<tile data="lib.tiles.Pin7"></tile>
					<tile data="lib.tiles.Pin8"></tile>
					<tile data="lib.tiles.Pin9"></tile>
				</td>
				<td>
					<tile data="lib.tiles['Pin5-Dora']"></tile>
				</td>
			</tr>
			<tr>
				<td>
					Bamboo / Sticks
					<br>
					索
					<br>
					Sou
				</td>
				<td colspan="7">
					<tile data="lib.tiles.Sou1"></tile>
					<tile data="lib.tiles.Sou2"></tile>
					<tile data="lib.tiles.Sou3"></tile>
					<tile data="lib.tiles.Sou4"></tile>
					<tile data="lib.tiles.Sou5"></tile>
					<tile data="lib.tiles.Sou6"></tile>
					<tile data="lib.tiles.Sou7"></tile>
					<tile data="lib.tiles.Sou8"></tile>
					<tile data="lib.tiles.Sou9"></tile>
				</td>
				<td>
					<tile data="lib.tiles['Sou5-Dora']"></tile>
				</td>
			</tr>
			<tr>
				<td>
					Characters
					<br>
					萬
					<br>
					Man / Wan
				</td>
				<td colspan="7">
					<tile data="lib.tiles.Man1"></tile>
					<tile data="lib.tiles.Man2"></tile>
					<tile data="lib.tiles.Man3"></tile>
					<tile data="lib.tiles.Man4"></tile>
					<tile data="lib.tiles.Man5"></tile>
					<tile data="lib.tiles.Man6"></tile>
					<tile data="lib.tiles.Man7"></tile>
					<tile data="lib.tiles.Man8"></tile>
					<tile data="lib.tiles.Man9"></tile>
				</td>
				<td>
					<tile data="lib.tiles['Man5-Dora']"></tile>
				</td>
			</tr>
			<tr>
				<th colspan="9">
					Honor Tiles
					<br>
					Jihai
				</th>
			</tr>
			<tr>
				<td>Winds</td>
				<td>
					East
					<br>
					東
					<br>
					Ton
				</td>
				<td>
					<tile data="lib.tiles.Ton"></tile>
				</td>
				<td>
					South
					<br>
					南
					<br>
					Nan
				</td>
				<td>
					<tile data="lib.tiles.Nan"></tile>
				</td>
				<td>
					West
					<br>
					西
					<br>
					Shaa
				</td>
				<td>
					<tile data="lib.tiles.Shaa"></tile>
				</td>
				<td>
					North
					<br>
					北
					<br>
					Pei
				</td>
				<td>
					<tile data="lib.tiles.Pei"></tile>
				</td>
			</tr>
			<tr>
				<td>Dragons</td>
				<td>
					White
					<br>
					白
					<br>
					Haku
				</td>
				<td>
					<tile data="lib.tiles.Haku"></tile>
				</td>
				<td>
					Green
					<br>
					發
					<br>
					Hatsu
				</td>
				<td>
					<tile data="lib.tiles.Hatsu"></tile>
				</td>
				<td>
					Red
					<br>
					中
					<br>
					Chun
				</td>
				<td>
					<tile data="lib.tiles.Chun"></tile>
				</td>
			</tr>
		</table>
		<table border>
			<tr>
				<th></th>
				<th colspan="2">Han</th>
				<th colspan="3"></th>
			</tr>
			<tr>
				<th ng-click="setSort('name')">
					Yaku
					<span ng-if="sortKey!='name'">△</span>
					<span ng-if="sortKey=='name' && !sortReverse">▲</span>
					<span ng-if="sortKey=='name' && sortReverse">▼</span>
				</th>
				<th ng-click="setSort('open')">
					Open
					<span ng-if="sortKey!='open'">△</span>
					<span ng-if="sortKey=='open' && !sortReverse">▲</span>
					<span ng-if="sortKey=='open' && sortReverse">▼</span>
				</th>
				<th ng-click="setSort('closed')">
					Closed
					<span ng-if="sortKey!='closed'">△</span>
					<span ng-if="sortKey=='closed' && !sortReverse">▲</span>
					<span ng-if="sortKey=='closed' && sortReverse">▼</span>
				</th>
				<th>Description</th>
				<th ng-click="setSort('type')">
					Type
					<span ng-if="sortKey!='type'">△</span>
					<span ng-if="sortKey=='type' && !sortReverse">▲</span>
					<span ng-if="sortKey=='type' && sortReverse">▼</span>
				</th>
				<th>Example</th>
			</tr>
			<tr ng-repeat="y in yaku | orderBy:sortKey:sortReverse">
				<td>
					{{y.name}}
					<br>
					{{y.japanese}}
				</td>
				<td>{{y.open}}</td>
				<td>{{y.closed}}</td>
				<td>
					<p ng-bind-html="y.description | define"></p>
				</td>
				<td>{{y.type}}</td>
				<td>{{y.example}}</td>
			</tr>
		</table>

		<button ng-click="setSeat('parent')">Parent</button>
		<button ng-click="setSeat('child')">Child</button>
		<table border>
			<tr>
				<th colspan="2">Score Table</th>
				<th colspan="11">Fu</th>
			</tr>
			<tr>
				<th></th>
				<th>Han</th>
				<th>20</th>
				<th>25</th>
				<th>30</th>
				<th>40</th>
				<th>50</th>
				<th>60</th>
				<th>70</th>
				<th>80</th>
				<th>90</th>
				<th>100</th>
				<th>110</th>
			</tr>
			<tr>
				<td></td>
				<td>1</td>
				<td></td>
				<td></td>
				<td>
					<score data="score.han1.fu30[seat]"></score>
				</td>
				<td>
					<score data="score.han1.fu40[seat]"></score>
				</td>
				<td>
					<score data="score.han1.fu50[seat]"></score>
				</td>
				<td>
					<score data="score.han1.fu60[seat]"></score>
				</td>
				<td>
					<score data="score.han1.fu70[seat]"></score>
				</td>
				<td>
					<score data="score.han1.fu80[seat]"></score>
				</td>
				<td>
					<score data="score.han1.fu90[seat]"></score>
				</td>
				<td>
					<score data="score.han1.fu100[seat]"></score>
				</td>
				<td>
					<score data="score.han1.fu110[seat]"></score>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>2</td>
				<td>
					<score data="score.han2.fu20[seat]"></score>
				</td>
				<td>
					<score data="score.han2.fu25[seat]"></score>
				</td>
				<td>
					<score data="score.han2.fu30[seat]"></score>
				</td>
				<td>
					<score data="score.han2.fu40[seat]"></score>
				</td>
				<td>
					<score data="score.han2.fu50[seat]"></score>
				</td>
				<td>
					<score data="score.han2.fu60[seat]"></score>
				</td>
				<td>
					<score data="score.han2.fu70[seat]"></score>
				</td>
				<td>
					<score data="score.han2.fu80[seat]"></score>
				</td>
				<td>
					<score data="score.han2.fu90[seat]"></score>
				</td>
				<td>
					<score data="score.han2.fu100[seat]"></score>
				</td>
				<td>
					<score data="score.han2.fu110[seat]"></score>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>3</td>
				<td>
					<score data="score.han3.fu20[seat]"></score>
				</td>
				<td>
					<score data="score.han3.fu25[seat]"></score>
				</td>
				<td>
					<score data="score.han3.fu30[seat]"></score>
				</td>
				<td>
					<score data="score.han3.fu40[seat]"></score>
				</td>
				<td>
					<score data="score.han3.fu50[seat]"></score>
				</td>
				<td>
					<score data="score.han3.fu60[seat]"></score>
				</td>
				<td colspan="5">
					<score data="score.han3.fu70[seat]"></score>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>4</td>
				<td>
					<score data="score.han4.fu20[seat]"></score>
				</td>
				<td>
					<score data="score.han4.fu25[seat]"></score>
				</td>
				<td>
					<score data="score.han4.fu30[seat]"></score>
				</td>
				<td colspan="8">
					<score data="score.han4.fu40[seat]"></score>
				</td>
			</tr>
			<tr>
				<td>Mangan</td>
				<td>5</td>
				<td colspan="11">
					<score data="score.han5[seat]"></score>
				</td>
			</tr>
			<tr>
				<td rowspan="2">Haneman</td>
				<td>6</td>
				<td rowspan="2" colspan="11">
					<score data="score.han6[seat]"></score>
				</td>
			</tr>
			<tr>
				<td>7</td>
			</tr>
			<tr>
				<td rowspan="3">Baiman</td>
				<td>8</td>
				<td rowspan="3" colspan="11">
					<score data="score.han8[seat]"></score>
				</td>
			</tr>
			<tr>
				<td>9</td>
			</tr>
			<tr>
				<td>10</td>
			</tr>
			<tr>
				<td rowspan="2">Sanbaiman</td>
				<td>11</td>
				<td rowspan="2" colspan="11">
					<score data="score.han11[seat]"></score>
				</td>
			</tr>
			<tr>
				<td>12</td>
			</tr>
			<tr>
				<td rowspan="2">Yakuman</td>
				<td>13</td>
				<td rowspan="2" colspan="11">
					<score data="score.han13[seat]"></score>
				</td>
				<td ng-if="seat=='parent'">
					(Ron)
					<br>
					(Tsumo)
				</td>
				<td ng-if="seat=='child'">
					(Ron)
					<br>
					(Tsumo)(Parent/Child)
				</td>
			</tr>
		</table>
	</div>
</body>